<a data-toggle="modal" data-target="#nzihl" class="nav-link">
  <%= image_tag('nzihl_teams.png', alt: 'NZIHL Stats App', class: 'img-fluid') %>
  <p class="font-weight-bold text-center">
    New Zealand Ice Hockey League
  </p>
</a>

<div class="modal fade" id="nzihl" tabindex="-1" role="dialog" aria-labelledby="nzihlTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="nzihlTitle">New Zealand Ice Hockey League Stats App</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= image_tag('nzihl.png', alt: 'NZIHL', id: 'myImg', class: 'img-fluid') %>
        <p>
          I used to be very involved with the New Zealand Ice Hockey League. I would film games,
          commentate, edit highlight clips and a bunch of other things, but there was no easy way to view stats,
          standings and game results at the time. So I made an app that did those things and I had a good time doing it.
        </p>
        <p>
          Built with Rails, Bootstrap 3, PostgresQL, Heroku, JavaScript and Data Tables.
        </p>
        <p>
          Take a look! <%= link_to 'NZIHL Stats App', 'https://nzihl.herokuapp.com/', target: 'blank' %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
