<% provide(:title, 'About') %>

<h1>A brief, yet interesting history</h1>

<p style="padding-top:30px;">
  I live in Seattle, Washington which rains nearly as much as Wellington, New Zealand where
  I am originally from. But I do like how Seattle isn't so windy that it sometimes rains up.
</p>

<p style="padding-top:15px;">
  Like so many people, I worked jobs and then I decided to go to a coding bootcamp. I graduated from
  <%= link_to 'Enspiral Dev Academy', 'https://devacademy.co.nz', target: 'blank' %>
  in late 2015 and then I worked there as a teachers assistant which was great fun.
</p>

<p style="padding-top:15px;">
  I have spent the last 2 and a half years in the US immigration process and I am now a proud holder of a work authorisation!
   To keep myself occupied during the immigration wait, I worked on various coding projects for friends and family.
   Spent over 500 hours playing with dogs at the <%= link_to 'San Francisco SPCA', 'https://www.sfspca.org', target: 'blank' %> because dogs are awesome.
   I also Project Managed the shit out of the <%= link_to 'Marin Cricket Clubs', 'https://www.marincricketclub.com/', target: 'blank' %> Social Cricket Program.
   I played for them when I lived in the Bay Area, built them software to automate weekly tasks, improved player engagement, increased membership numbers and club revenue.
</p>

<p style="padding-top:15px;">
  I also organised a cricket tour for 20 people through New Zealand in January of 2020.
  The Bay Area Beavers will be playing 9 games against various clubs around New Zealand and it is going to be awesome.
</p>

<%= render 'layouts/socials' %>
