<% provide(:title, 'Portfolio') %>

<h1>I did stuff, in the future I will do stuff.</h1>

<div class="row" id="portfolio-image">
  <div class="col d-flex text-center">
    <%= render 'mcc' %>

    <%= render 'nzihl' %>
  </div>
</div>
