<% provide(:title, 'Contact') %>

<h1>Contact Red Hendery</h1>
<div class="col-md-6 offset-md-3" id="flash-message">
  <%= render 'flash' %>
</div>

<div id="contact">
  <%= render 'contact_form' %>
</div>

<div class="col-md-6 offset-md-3">
  <%= render 'layouts/socials' %>
</div>
